/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  overflow-x:hidden;
  background:#111;
}

<<<<<<< HEAD
=======
/* SECTION */
>>>>>>> 1d39347 (local changes)
.about-section{
  width:100%;

  background:
  radial-gradient(circle at left top,
  rgba(170,110,55,0.30),
  transparent 28%),

  linear-gradient(
  90deg,
  #2a2722 0%,
  #58544d 50%,
  #6a6557 100%
  );

  padding:50px 20px;

  overflow:hidden;
  position:relative;
}

<<<<<<< HEAD
=======
/* LIGHT OVERLAY */
>>>>>>> 1d39347 (local changes)
.about-section::before{
  content:"";
  position:absolute;
  inset:0;

  background:
  linear-gradient(
  90deg,
  rgba(255,120,40,0.08),
  transparent 20%,
  transparent 80%,
  rgba(255,255,255,0.04)
  );

  pointer-events:none;
}

<<<<<<< HEAD
=======
/* CONTAINER */
>>>>>>> 1d39347 (local changes)
.about-container{
  max-width:1180px;
  margin:auto;

  display:flex;
  align-items:center;
  justify-content:space-between;

  gap:40px;

  position:relative;
  z-index:2;
}

<<<<<<< HEAD
=======
/* LEFT */
>>>>>>> 1d39347 (local changes)
.about-left{
  flex:1;
  max-width:500px;
}

.small-title{
<<<<<<< HEAD
  color:#f4eded;
=======
  color:#ff6a2f;
>>>>>>> 1d39347 (local changes)
  font-size:13px;
  font-weight:700;
  letter-spacing:3px;
}

<<<<<<< HEAD
=======
/* HEADING */
>>>>>>> 1d39347 (local changes)
.about-left h1{
  font-size:58px;
  line-height:1.02;
  color:#f5f1eb;

  margin:16px 0 18px;
  font-weight:800;
}

<<<<<<< HEAD
=======
/* PARAGRAPH */
>>>>>>> 1d39347 (local changes)
.about-left p{
  font-size:15px;
  line-height:1.9;
  color:#dddddd;

  margin-bottom:24px;
}

<<<<<<< HEAD

button {
  background: linear-gradient(135deg, #ff0000, #b30000);
  border: none;
  padding: 16px 38px;
  border-radius: 50px;
  cursor: pointer;

  transition: all 0.4s ease;

  box-shadow: 0 10px 25px rgba(13, 13, 13, 0.35);
}

button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;

  transition: all 0.4s ease;
}

button:hover {
  transform: translateY(-5px) scale(1.05);

  background: linear-gradient(135deg, #ff1a1a, #ff4d4d);

  box-shadow: 0 15px 35px rgba(255, 0, 0, 0.5);
}

button:hover a {
  color: #00d9ff;
}
=======
/* BUTTON */
.about-left button{
  background:linear-gradient(
  90deg,
  #ff6a2f,
  #ff2f63
  );

  color:white;
  border:none;

  padding:14px 32px;
  border-radius:14px;

  font-size:16px;
  font-weight:700;

  cursor:pointer;

  transition:
  transform .35s ease,
  box-shadow .35s ease;
}

.about-left button:hover{
  transform:translateY(-4px);

  box-shadow:
  0 12px 25px rgba(255,82,43,0.25);
}

/* RIGHT */
>>>>>>> 1d39347 (local changes)
.about-right{
  flex:1;
  position:relative;

  min-height:560px;
}

<<<<<<< HEAD
=======
/* CENTER CIRCLE */
>>>>>>> 1d39347 (local changes)
.circle-bg{
  position:absolute;

  width:420px;
  height:420px;
  border-radius:50%;

  background:
  radial-gradient(circle,
  rgba(0,0,0,0.95) 0%,
  rgba(20,20,20,0.95) 70%);

  top:50%;
  left:52%;

  transform:translate(-50%, -50%);

  box-shadow:
  0 0 70px rgba(255,145,77,0.08);
}

<<<<<<< HEAD
=======
/* CARD */
>>>>>>> 1d39347 (local changes)
.info-card{
  position:absolute;

  width:300px;

<<<<<<< HEAD
  background:rgba(255,255,255,0.10);
=======
  background:rgb(255, 255, 255);
>>>>>>> 1d39347 (local changes)

  backdrop-filter:blur(12px);
  -webkit-backdrop-filter:blur(12px);

  border:1px solid rgba(255,255,255,0.08);

  color:white;

  padding:24px;
  border-radius:22px;

  z-index:2;

  overflow:hidden;

  box-shadow:
  0 10px 35px rgba(0,0,0,0.20);

<<<<<<< HEAD
=======
  /* ENTRY ANIMATION */
>>>>>>> 1d39347 (local changes)
  opacity:0;

  animation-duration:1.2s;
  animation-fill-mode:forwards;
  animation-timing-function:cubic-bezier(.22,1,.36,1);

  transition:
  transform .35s ease,
  box-shadow .35s ease,
  border .35s ease;
}

<<<<<<< HEAD
=======
/* SHINY EFFECT */
>>>>>>> 1d39347 (local changes)
.info-card::before{
  content:"";
  position:absolute;
  top:0;
  left:-120%;

  width:60%;
  height:100%;

  background:linear-gradient(
  90deg,
  transparent,
  rgba(255,255,255,0.18),
  transparent
  );

  transform:skewX(-25deg);
  transition:.8s;
}

.info-card:hover::before{
  left:130%;
}

<<<<<<< HEAD
=======
/* HOVER EFFECT */
>>>>>>> 1d39347 (local changes)
.info-card:hover{
  transform:translateY(-8px) scale(1.02);

  border:1px solid rgba(255,255,255,0.18);

  box-shadow:
  0 18px 35px rgba(0,0,0,0.30);
}

<<<<<<< HEAD
=======
/* CARD POSITIONS + DELAY */
>>>>>>> 1d39347 (local changes)
.card-0{
  top:0;
  left:0;

  animation-name:slideLeft;
  animation-delay:0.2s;
}

.card-1{
  top:150px;
  right:0;

  width:350px;

  animation-name:slideRight;
  animation-delay:0.5s;
}

.card-2{
  top:320px;
  left:10px;

  animation-name:slideBottom;
  animation-delay:0.8s;
}

<<<<<<< HEAD
=======
/* ICON */
>>>>>>> 1d39347 (local changes)
.icon{
  font-size:22px;
  color:#ff3b30;
  margin-bottom:14px;
}

<<<<<<< HEAD
.info-card h3{
  font-size:25px;
  margin-bottom:14px;
  line-height:1.3;
  color:rgb(250, 244, 244);
  font-weight: 600;
}

.info-card p{
  font-size:14px;
  line-height:1.8;
  color:#ededed;
}

=======
/* CARD TITLE */
.info-card h3{
  font-size:20px;
  margin-bottom:14px;
  line-height:1.3;
  color:rgb(248, 10, 10);
}

/* CARD TEXT */
.info-card p{
  font-size:14px;
  line-height:1.8;
  color:#191818;
}

/* LEFT TO RIGHT */
>>>>>>> 1d39347 (local changes)
@keyframes slideLeft{

  from{
    opacity:0;
    transform:translateX(-120px);
  }

  to{
    opacity:1;
    transform:translateX(0);
  }
}

<<<<<<< HEAD
=======
/* RIGHT TO LEFT */
>>>>>>> 1d39347 (local changes)
@keyframes slideRight{

  from{
    opacity:0;
    transform:translateX(120px);
  }

  to{
    opacity:1;
    transform:translateX(0);
  }
}

<<<<<<< HEAD
=======
/* BOTTOM TO TOP */
>>>>>>> 1d39347 (local changes)
@keyframes slideBottom{

  from{
    opacity:0;
    transform:translateY(120px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

<<<<<<< HEAD
=======
/* TABLET */
>>>>>>> 1d39347 (local changes)
@media(max-width:992px){

  .about-section{
    padding:55px 20px;
  }

  .about-container{
    flex-direction:column;
    text-align:center;

    gap:40px;
  }

  .about-left{
    max-width:100%;
  }

  .about-left h1{
    font-size:44px;
  }

  .about-right{
    width:100%;
    min-height:auto;

    display:flex;
    flex-direction:column;
    align-items:center;

    gap:22px;
  }

  .circle-bg{
    width:320px;
    height:320px;
  }

  .info-card{
    position:relative;

    width:90%;
    max-width:380px;

    top:auto;
    left:auto;
    right:auto;
    bottom:auto;

    opacity:1;
    animation:none;
  }
}

<<<<<<< HEAD
=======
/* MOBILE */
>>>>>>> 1d39347 (local changes)
@media(max-width:576px){

  .about-section{
    padding:45px 16px;
  }

  .small-title{
    font-size:12px;
    letter-spacing:2px;
  }

  .about-left h1{
    font-size:34px;
  }

  .about-left p{
    font-size:14px;
    line-height:1.8;
  }

  .about-left button{
    width:100%;

    font-size:16px;
    padding:14px;
  }

  .circle-bg{
    width:230px;
    height:230px;
  }

  .info-card{
    width:100%;
    padding:20px;
    border-radius:20px;
  }

  .info-card h3{
    font-size:20px;
  }

  .info-card p{
    font-size:13px;
  }
}