@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  min-height: 100vh;
  padding: 60px 0;
  background: linear-gradient(135deg, #ebebec, #f3f1f0);
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}


.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #d80101;
}

.header p {
  margin-top: 10px;
  color: #070707;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.card {
  position: relative;
  height: 260px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  will-change: transform;
}


.card:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 30px 70px rgba(0,0,0,0.3);
}


.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}


.card:hover img {
  transform: scale(1.1);
}


.overlay {
  position: absolute;
  inset: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.2));
  transition: all 0.4s ease;
}
.card:hover .overlay {
  background: linear-gradient(to top, rgba(0,0,0,0.95), rgba(0,0,0,0.3));
}


.overlay h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 900;
}


.overlay p {
  color: #ffffff;
  font-size: 0.85rem;
  margin: 6px 0 12px;
  opacity: 0.9;
}

.btn {
  align-self: flex-start;
  padding: 8px 18px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.15);
  color: #fffdfd;
  font-size: 0.85rem;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  transition: all 0.35s ease;
}


.btn:hover {
  background: #ffffff;        
  color: #fd0707;             
  border: 1px solid #ffffff;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}



@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}